/* Container styles */
.container {
    height: 100%;
    padding: 0 5%;
}

/* HTML and body styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(22, 22, 22);
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Verdana", sans-serif;

}

body,
h1,
h2,
p {
    margin: auto 0;
    padding: auto 0;
}


h2 {
    font-size: 60px;
    text-align: center;
    background-color: rgb(22, 22, 22);
    color: rgb(251, 194, 110);
}

/* Navigation bar styles */
nav {
    font-family: "Verdana", sans-serif;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

/* Logo styles */
.logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

/* List items within navigation */
nav ul {
    flex: 1;
}

/* Links within list items */
nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

/* Button styles within navigation */
nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Buttons styles and hover effect */
nav .btn {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 20px;
    transition-duration: 0.4s;
}

/* Hover effect for buttons */
nav .btn:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 20px;
}



/* maybe standard button layout here */
/* remove from other stylesheets */